/* @CSS for half4.com */
/*
    ● Version 0.1 | Last edit : 13/08/2014
    ● www.half4.com
    ● contact@marcteyssier.com
    ● Better with Chrome

/* FONT-FACE
 * -------------------------------------------------------------------------------*/

@import url("../fonts/roboto-thin.css");
@import url("../fonts/roboto-regular.css");



/* Chrome hack */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {

    @font-face {
        font-family: 'Titillium Thin';
        src: url('../fonts/TitilliumText22L001-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Titillium Light';
        src: url('../fonts/TitilliumText22L002-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Titillium';
        src: url('../fonts/TitilliumText22L003-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Titillium Medium';
        src: url('../fonts/TitilliumText22L004-webfont.svg') format('svg');
    }


    @font-face {
        font-family: 'Titillium Bold';
        src: url('../fonts/TitilliumText22L005-webfont.svg') format('svg');
    }


}
*/